{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.title) }}

    <h3>Tags</h3>
    <ul class="tags">
        

{{ form_end(form) }}

<ul>
{#{ dump(form.attributes.vars) }}
{#% for choice in form.attributes.choices %}
<li>{{ choice.value }} </li>
{% endfor %#}
</ul>

{% endblock body %}